body{
    background-color: rgb(167, 227, 255);
    color:rgb(255, 16, 223);
#container{
    width: 100%;
    text-align: center;

}
#countleable{
    font-size: 8em;
    margin-bottom: 10px;
    color: darkgoldenrod;
}
#increase-btn,#reseast-btn,#decreas-btn{
    padding: 5px 10px;
    color: blue;
    font-size: 1em;
    font-weight: 900;
    border-radius: 50px;
    background-color: darkgoldenrod;

}
#reseast-btn{
    padding: 5px 30px;;
}
#mysubmit{
    font-size: 1em;
    font-weight: 700;
    padding: 5px 20px;
    color: rgb(255, 66, 9);
    background-color: aqua;
    border-radius: 50px;
}
#mysubmit:active{
    background-color: antiquewhite;
}